html, body{
    /* Убрать скроллы */
    overflow: hidden;
    /* Адаптация под моильное приложение */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* Убрать мерцания на iPhone */
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    resize: none;
    outline: none;
    /* Убрать выделения */
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Убрать курсор */
    /*cursor: none;*/
    cursor: default;
}

/* Область со спинером */
#main{
    width: 100%;
    height: 70%;
    text-align: center;
    border: 0px solid #000000;
}
/* Блок со спинером */
#spinnerDIV {
    margin: 20% 0%;
    width: 100%;
    border: 1px solid #000000;
}
/* Картинка со спинером */
#spinner{
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 1px solid #FF0000;*/
}
/* Область чата */
#chat {
    background-color: #EEEEEE;
    padding: 5px;
}